<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Cars</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <template id="card-template">
      <article class="card">
        <section class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </section>
      </article>
    </template>

    <template id="car-template">
      <section class="card col-8" style="width: 18rem; margin: 10px;">
        <div class="card-body">
          <h5 class="card-title">Car Title</h5>
          <p class="card-text">Car Text.</p>
        </div>
      </section>
    </template>

    <div id="car-list" class="row"></div>

    </div>

    <!-- <div id="card-list"></div> -->
    <script src="index.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous">
    </script>
  </body>
</html>